/packages
/artifacts
/build
/JavaApp/.gradle
/JavaApp/build
/JavaApp/local_out
/Natives/AngelAuraAmethyst
/Natives/build
/Natives/external/UnzipKit
/Natives/external/Reynard/engine/firefox/
/Natives/external/Reynard/support/idevice/
.DS_Store
xcshareddata/
xcuserdata/
project.xcworkspace/
/depends
/Natives/config.h
entitlements.codesign.xml
